#name{
	text-align: center;
	color: white;
}

#future{
	text-align: center;
	color: white;
}

html{
	background-image: url(city.jpeg);
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
p {
	text-align: center;
}
 
 nav ul li {
background-color: #fff;
padding: 15px;
float: left;
list-style: none;
position: relative;
text-decoration: none;
width: 200px;
}







