html{
background-image: url("brick.jpg");
background-size: auto;
text-align: center;
color: black;
}


#nav ul.Home{
	font-family:"Source Sans Pro", Heletica, sans-serif;
	background-color: white;
	background-position: relative;
	display: block;
	position: relative;
	width: 80px;
height: 20px
}

p{
	font-size: 30px
}
 #woody{
 	background-image: url("wood.jpg");
 	background-size: 950px 250px;
 	background-repeat: no-repeat;
 	background-position: center;
 	color: black;

 }







